/* font-family: "LatoRegular"; */
@font-face {
    font-family: "Lato";
    src: url("/Content/fonts/LatoRegular/LatoRegular.eot");
    src: url("/Content/fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("/Content/fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("/Content/fonts/LatoBold/LatoBold.eot");
    src: url("/Content/fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoBold/LatoBold.woff") format("woff"),
    url("/Content/fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("/Content/fonts/LatoItalic/LatoItalic.eot");
    src: url("/Content/fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("/Content/fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("/Content/fonts/LatoLight/LatoLight.eot");
    src: url("/Content/fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoLight/LatoLight.woff") format("woff"),
    url("/Content/fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("/Content/fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("/Content/fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("/Content/fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("/Content/fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("/Content/fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("/Content/fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("/Content/fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



body {
    padding-top: 10px; 
    font-size: 13px;
    line-height: 16px;
    font-family: 'Lato', Georgia, serif;
    background: white;
    -webkit-text-size-adjust: none;
    color: #666666;
    line-height: 1.45em;
}

#headmenu {
    position: relative;
    line-height: 30px;
    font-family: 'Lato';
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #db7093;
    margin-bottom: 10px;
}

#logo {
    padding-bottom: 10px;
    position: relative;
    min-height: 50px;
    padding-top: 0;
    text-align: center;
}

hr {
    border-top: 1px solid #db7093;
}

#logo img {
    height: 135px;
}

.menu {
 display: block;
 z-index: 0!important;
     font-size: 120%;
}

.menu div{
    display: inline-block;
    float: left;
    font-size: 110%;
    font-style: normal;
    padding: 1px 15px 1px 0;
    position: relative;
}

.menu a {
    white-space: nowrap;
    padding-bottom: 14px;
}



a, a:link, a:visited {
    color: #EE0F84;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:hover span {
    text-decoration: underline;
}

.cart {
    height: 30px;
    background: #EE0F84;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    padding-left: 15px!important;
}

.cart a {
    color: white !important;
}

.container-nopadding {
    padding-right: 0;
    padding-left: 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    color: #EE0F84!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    border-bottom: 1px solid #db7093;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 55px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.solring a {
    color: #404e5c;
}

.solring a:hover {
    color: #404e5c;
}

.solring a:visited {
    color: #404e5c;
}

.btn-blue {
    background-color: #EE0F84;
    color: white!important;
    padding: 5px 16px!important;
}

.btn-gray {
    color: #FBFBFB!important;
}


.skuitem {
    position: relative;
    float: left;
    max-width: 262px;
    /*margin: 0 20px 24px 0;*/
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    zoom: 1;
    background: none;
    border-radius: 0;
}



    .leftmenuitem {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #EE0F84;
    /* height: 110px; */
    /* width: 170px; */
    /* padding-top: 15px; */
    text-align: center;
}

    .leftmenuitem a {
    /*border: 2px white solid;*/
    padding: 25px;
    border-radius: 50px;
    width: 80%;
    display: block;
}

    .panel-body-color {
        background-color: #F5F5F5!important;
    }
    .panel-head-color {
        background-color: #7C848C!important;
        color: #fff!important;
    }

    .adm-panel-menu {
        margin-bottom: 15px;
    }
    
    .adm-panel-menu-btn {
         margin-right: 10px;
         background-color: #409EAF;
    }

    .cart-amount-row-table {
        color: #666666;
        font-size: 15px;
    }

    .final-cart-adress-row {
            margin-right: 15px!important;
    }


.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}


.cartBtn {
  margin-left: 20px;
    width: 160px;
}
.currencySmCart {
    font-size: 15px!important;
}

.priceSmCart {
    font-size: 30px!important;
}


.currencySm {
    font-size: 50%;
}

.priceLabel {
    font-size: 222%;
    color: #666666;
    display: block;
    padding-top: 14px;
    float: right;
}

.priceSm {
    /*margin: 5px;*/
    font-size: 180%;
    color: #666666;
}

.priceSmSkuInfo {
    font-size: 225%;
    margin-top: 5px;
    display: inline-block;
    color: #666666;
}
.priceBgSkuInfo {
    font-size: 120%;
    text-decoration: line-through;
      display: inline-block;
       margin-top: 18px;
}
.priceBg {
    font-size: 120%;
    text-decoration: line-through;
}

.currencyBg {
    font-size: 50%;
}


.pricesBody {
  text-align: center;
  padding-top: 12px;
  display: inline-block;
  padding-left: 10px;
}

input {
    color: black;
    height: 30px;
}
textarea {
   color: black; 
}

select {
    color: black;
    height: 30px;
}


.cartPosition {
  position: absolute!important;
  right: 0!important;
}

.thumbnail {
    border: 0!important;
}


.row {
  margin-bottom: 5px!important;
}

.smallPhoto {
    /*max-height: 195px;height: 195px;*/
    width: auto;
}


.img-thumbnail {
  border: 0;
    border-radius: 0;
    background: none;
    padding: 0;
}